.post-avatar {
  float: left;
  margin: 0 .5em 0 0;
  border-radius: 30% 30% 0% 30%;
}

.whoami-logo {
  display: inline;
  margin-right: .5em;
  border-radius: 30% 30% 0% 30%;
}

img {
  max-width: 100%;
}

.index-post {
  margin-bottom: 1em;
}

.site-tag a {
    display: inline-block;
    margin-right: 12px;
}

.tag-cloud {
    margin-bottom: 5em;
}

.tag-cloud-anchor {
    color: #303030 !important;
}

.tag-cloud-tag-div {
  margin-bottom: 3em;
}
